.wrapper {
  position:relative;
}
.dimension {
  float:left;
  border:solid 1px black;
  overflow:hidden;
  img {
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
  }
}
.nav {
  position:absolute;
  height:50px;
  width:100%;
  position:fixed;
  top:80%;
  
}
.clearleft {
  clear:left;
}
.content-1 {

}
.content-2 {
  
}
.content-3 {

}
.content-4 {

}
.content-5 {

}
.content-6 {

}
.content-7 {

}