
body {
	overflow:hidden;
  font-family: 'Raleway', arial, serif !important;
  font-weigth:800;
}
.wrapper {
  position:relative;
}
.dimension {
  float:left;
  overflow:hidden;
  img {
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
  }
}
.nav {
  background-color:white;
  position:absolute;
  height:38px;
  width:100%;
  position:fixed;
  top:80%;
  img {
    position: absolute;
    right: 21px;
    top: -105px;
  }
  ul {
  	width:960px;
    display:block;
    margin:0 auto !important;
    background-color:white;
    li {
    	float:left;
      list-style:none;
      padding:5px;
      margin:0 3px;
      a {
      	display:block;
        text-transform:uppercase;
        text-decoration:none;
        color:black !important;
        padding: 5px 0 1px 21px;
      }
    }
  }  
}
.clearleft {
  clear:left;
}
.content-0 {
	.logo {
  	display: block;
    margin: 5% auto;
    width: 592px;
  }
  .sponsors {
    position: absolute;
    top: 86%;
    width: 100%;
    img {
    	width:1044px;
      display:block;
      margin:0 auto;
    }
  }
}
.content-1 {
 .content {
 	  margin-left: 10%;
    margin-top: 10%;
    position: absolute;
    width: 350px;
 }
}
.content-2 {
  .content {
 	  margin-left: 65%;
    margin-top: 10%;
    position: absolute;
    width: 350px;
 } 
}
.content-3 {
 .content {
 	  margin-left: 42%;
    margin-top: 10%;
    position: absolute;
    width: 350px;
 }
}
.content-4 {
 .content {
 	  margin-left: 34%;
    margin-top: 10%;
    position: absolute;
    width: 350px;
 }
}
.content-5 {
 .content {
 	  margin-left: 65%;
    margin-top: 10%;
    position: absolute;
    width: 350px;
 }
}
.content-6 {
 .content {
 	  margin-left: 13%;
    margin-top: 18%;
    position: absolute;
    width: 350px;
 }
}
.content-7 {
 .content {
 	  margin-left: 51%;
    margin-top: 13%;
    position: absolute;
    width: 350px;
 }
}

.c1.selected {
	background: url('/images/circles.png') no-repeat 0 4px transparent;
}
.c2.selected {
	background: url('/images/circles.png') no-repeat 0 -112px transparent;
}
.c3.selected {
	background: url('/images/circles.png') no-repeat 0 -42px transparent;
}
.c4.selected {
	background: url('/images/circles.png') no-repeat 0 -66px transparent;
}
.c5.selected {
	background: url('/images/circles.png') no-repeat 0 4px transparent;
}
.c6.selected {
	background: url('/images/circles.png') no-repeat 0 -19px transparent;
}
.c7.selected {
	background: url('/images/circles.png') no-repeat 0 -42px transparent;
}
.c8.selected {
	background: url('/images/circles.png') no-repeat 0 0 transparent;
}



